<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
		<link rel="stylesheet" href="/stylesheets/profile.css" />
		<title>Welcome to The Login Page</title>
	</head>
	<body>
		<div class="container mainContent">
			<div class="row">
				<div class="userCardsContainer">
					<div class="card animated userCard">
						<div class="card-body">
							<div class="personalInfo d-flex">
								<div>
									<img src="http://central-hub.co.uk/wp-content/uploads/2014/12/speaker-04.jpg" class="userImg img-fluid" alt="Responsive image" />
								</div>
								<div>
									<h6>
										Yasmin
										<a href="#">(Reveal full name)</a>
									</h6>
									<p class="mb-2">Graphic designer</p>
									<p class="mb-2 speciality">Infoart printing & advertising</p>
									<div class="address d-flex mb-2">
										<div>
											<p>Location:</p>
											<p>Education:</p>
											<p>Expereince:</p>
										</div>
										<div class="ml-4">
											<p class="text-secondary">Amman, Jordan</p>
											<p class="text-secondary">Master's degree, Graphic design</p>
											<p class="text-secondary">4 Years, 6 Months</p>
										</div>
									</div>
									<button type="button" id="slideImageBtn" class="btn btn-warning">
										<i class="fa fa-envelope" aria-hidden="true"></i>
										Contact
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		<script src="/javascripts/profile.js"></script>
	</body>
</html>
