* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

.container,
.row {
	height: 100%;
}
.header {
	height: 80px;
	background-color: white;
}

.header-col {
	border-left: 1px solid #eee;
}
.header-col > div {
	margin-top: 10px;
}
.mainContent {
	margin-top: 20px;
}

.card {
	width: 100%;
	border-radius: 1px;
}

.iconsContainer {
	color: #017cc4;
}
.iconsContainer > i.fa {
	margin-right: 10px;
	font-size: 18px;
}
.fa-paperclip {
	transform: rotate(42deg);
}

.status i.fa {
	font-size: 37px;
	color: #96c357;
}

.statusText p {
	display: inline;
	vertical-align: middle;
	line-height: 34px;
	font-weight: 500;
}

.mainContent {
}
.card-body {
	padding: 1rem;
}
.userInfo p {
	margin-bottom: 0px;
	font-size: 13px;
}

.userInfo .col-md {
	padding: 0px 5px;
}

@media (min-width: 768px) {
	.container {
		max-width: 900px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1100px;
	}
}

.details {
	padding-left: 10px;
	padding-right: 10px;
}

.userInfo .card-body {
	display: flex;
	justify-content: space-around;
}

.cvActivities {
	min-height: 350px;
}

.userImg {
	max-width: 200px;
	height: auto;
}
.userCardsContainer {
	width: 58%;
}
@media only screen and (max-width: 767px) {
	.userInfo .card-body {
		flex-direction: column;
		align-items: center;
	}
	.userInfo .card-body > div {
		margin: 7px 0px;
		text-align: center;
	}
	.header {
		height: 210px;
	}

	.editInfo {
		position: absolute;
		top: 10px;
		right: 21px;
	}
	.userCardsContainer {
		width: 100%;
		padding: 20px;
	}
	.personalInfo {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

.personalInfo > div:last-child {
	padding-left: 20px;
}

.speciality {
	text-decoration: underline;
}

.address > div {
	display: flex;
	flex-direction: column;
}
.address p {
	margin-bottom: 0px;
	font-size: 14px;
}
.btn.btn-warning {
	color: white;
	cursor: pointer;
}

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
	padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
	border: none;
	margin: 0px;
}
.tabbable-line > .nav-tabs > li {
	margin-right: 15px;
}
.tabbable-line > .nav-tabs > li > a {
	border: 0;
	margin-right: 0;
	color: #737373;
	margin-bottom: 10px;
	display: inline-block;
}
.tabbable-line > .nav-tabs > li > a > i {
	color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
	border-bottom: 4px solid #f9ebcd;
}
.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a {
	border: 0;
	background: none !important;
	color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
	color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
	margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
	border-bottom: 4px solid #f4d284;
	position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
	border: 0;
	color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
	color: #404040;
}
.tabbable-line > .tab-content {
	margin-top: -3px;
	background-color: #fff;
	border: 0;
	border-top: 1px solid #eee;
	padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
	padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
	border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
	margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
	border-bottom: 0;
	border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
	margin-bottom: -2px;
	border-bottom: 0;
	border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
	margin-top: -10px;
	border-top: 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}
